.navbar{
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 3%, rgba(242,254,255,1) 39%, rgba(250,254,255,1) 84%);

    border-radius: 30px;
}

.list-text{
    color: #403131;
    font-size: larger;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
}
.logout{
    color: rgb(216, 98, 98);
}

.login{
    color: rgb(2, 64, 2);
    text-decoration: none;
}